footer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em 0em;
    font-family: "Poppins", sans-serif;
    color: rgb(128, 0, 128);
    a {
        color: #0074d9;
        text-decoration: none;
    }
}
